
<!-- Index Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top"  data-offset="151">

    {% include navigation.html %}

    {% include header.html %}

    {% for p in site.pages_list %}
      {% for page in site.pages %}
        {% if p[1] == page.section-type %}
          {% include {{ page.path }} %}
        {% endif %}
      {% endfor %}
    {% endfor %}

    {% include footer.html %}

    <div class="author row">
        <img class="col-xs-4 col-sm-3 col-md-2 col-md-offset-3" src="{{site.baseurl}}{{site.author_blurb_image}}" alt="Me" />
        <span class="col-xs-8 col-sm-9 col-md-4">
            <h3>
                {{ site.author_blurb }}
            </h3>
            <h6>
              The comments, views, and opinions expressed are those of the author and do not necessarily reflect the official policy or position of the Walt Disney Company, Disney Connected and Advanced Technologies, or any affiliated companies.
            </h6>
            <p><br><br><br><br><br><br></p>
        </span>
    </div>

    {% include js.html %}

  </body>
</html>

<!-- Index Layout End -->
